<!-- Copyright : adobocode.com , 2010 -->
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- <listener> <listener-class>com.icangke.utils.SpringContext</listener-class> 
		</listener> -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/spring.xml</param-value>
	</context-param>

	<filter>
		<description>编码过滤器,放最前面</description>
		<filter-name>characterEncoding</filter-name>
		<filter-class>com.mycode.common.filter.CharacterEncoding</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<description>允许跨域请求设置</description>
		<filter-name>crossFilter</filter-name>
		<filter-class>com.mycode.common.filter.CrossFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>crossFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<description>登入过滤器，必须放在所有过滤器最上</description>
		<filter-name>loginFilter</filter-name>
		<filter-class>cn.yunyuebao.constants.YunYueBaoLoginFilter</filter-class>
		<init-param>
			<description>保护模式，1代表默认全保护，2代表默认全不保护</description>
			<param-name>model</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<description>受保护uri</description>
			<param-name>protectedUri</param-name>
			<param-value>/manager/</param-value>
		</init-param>
		<init-param>
			<description>不受保护uri</description>
			<param-name>unprotectedUri</param-name>
			<param-value>
			/login.htm,/index.htm,/index.jsp,/api-docs.htm
			</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/manager/*</url-pattern>
	</filter-mapping>

	<servlet>
		<description>文件上传servlet</description>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.mycode.common.UploadServlet</servlet-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/manager/uploadFile</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>spring mvc控制器</description>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:/spring_mvc.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>DruidStatView</servlet-name>
		<servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
		<init-param>
			<!-- 允许清空统计数据 -->
			<param-name>resetEnable</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<!-- 用户名 -->
			<param-name>loginUsername</param-name>
			<param-value>druid</param-value>
		</init-param>
		<init-param>
			<!-- 密码 -->
			<param-name>loginPassword</param-name>
			<param-value>druid</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>DruidStatView</servlet-name>
		<url-pattern>/druid/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>400</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>406</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>407</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>408</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>409</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>410</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>411</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>412</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>413</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>414</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>415</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>416</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>417</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/jsp/commons/message.jsp</location>
	</error-page>
</web-app>